@font-face {
    font-family: ar-font;
    src: url(../fonts/Cairo-ExtraLight.ttf); 
  }
  body {
    direction: rtl;
    font-family: ar-font !important; 
  }
header {
    background-image: url(../img/gard.jpg);
    background-size: cover;
    background-position: center center;
}

header .brand {
    padding: 20px 10px;
    margin: 80px auto 50px;
    border-bottom: 5px solid #474c55;
    display: inline-block;
    color: white;
    margin-bottom: 0;
}

.logo {
    color: rgb(231, 197, 0);
    margin-bottom: 10px;
}

header .page-heading h1 {
    color: white;
    font-size: 60px;
    font-weight: bold;
    line-height: 75px;
    margin-bottom: 0;
}

header .page-heading p {
    font-size: 18px;
    color: rgb(124, 122, 122);
    line-height: 25px;
    width: 40%;
    margin: 0 auto;
}

header .counter .countdown-amount {
    font-size: 60px;
    font-weight: bold;
    color: rgb(255, 234, 46);
    display: block;
    margin-top: -100px;
    margin-bottom: 0;
}

header .counter .countdown-period {
    font-size: 30px;
    font-weight: bold;
    color: white;
    display: block;
}

header .send-notification p {
    color: white;
    font-size: 18px;
}

header .send-notification .input-group input, footer .input-group {
    font-size: 18px;
    font-family: serif;
    color: grey;
    border-width: 2px;
    border-color: grey;
    border-radius: 0px;
}

header .send-notification .input-group .alert {
    display: none;
    position: absolute;
    top: 110%;
    right: 0;
    left: 0;
}

header .send-notification .input-group input {
    height: auto;
}

header .counter .countdown-section {
    display: inline-block;
    margin: 0 20px;
}

header .counter {
    margin: 60px auto;
    padding: 30px;
}

header .input-group, .top-footer .input-group {
    width: 30%;
    margin: 0 auto;
    padding-bottom: 0;
}

header .input-group-prepend, footer .input-group-prepend {
    border-radius: 0px;
    background-color: orange;
    height: auto;
}

header .send-notification .input-group button, footer button {
    border-radius: 0;
    padding: .5rem 1.5rem;
    background-color: #ffce00;
}

section h2 {
    margin-bottom: 50px;
    font-size: 45px;
    color: rgb(68, 68, 68);
}

section {
    padding: 100px 0;
}

section .media {
    border: 4px solid rgb(233, 233, 233);
    padding: 40px 10px;
    margin-bottom: 20px;
    position: relative;
    max-height: 190px;
}

section .media .media-body h5 {
    font-size: 24px;
    color: rgb(109, 109, 109);
    margin: 4px 15px
}

section .media .media-body p {
    font-size: 15px;
    color: rgb(131, 131, 131);
    line-height: 25px;
    margin: 6px 20px;
}

section div[class*="col-"]:nth-child(even) {
    text-align: left;
}

section .media .icon {
    color: rgb(255, 217, 0);
}

footer {
    background-image: url(../img/contactus.jpg);
    background-size: cover;
    background-position: center center;
    color: whitesmoke;
}

footer .top-footer .overlay {
    padding: 60px 0;
    background-color: rgba(255, 204, 0, 0.7);
}

footer .top-footer .overlay h3 {
    font-size: 30px;
    margin-bottom: 30px;
}

footer .alert {
    display: none;
    position: absolute;
    top: 110%;
    right: 0;
    left: 0;
}

footer .top-footer .overlay .input-group input {
    height: auto;
}

footer .input-group-prepend {
    background-color: #474c55;
}

footer .top-footer .overlay .input-group button:hover, footer .top-footer .overlay .input-group button:focus {
    box-shadow: 0 0 0;
    border-color: transparent;
}

footer .contact {
    background-color: rgba(28, 28, 28, 0.9);
    padding: 60px 0 10px;
}

footer .contact h3 {
    margin: 0 auto 30px;
}

footer .contact ul li a {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: block;
    background-color: rgba(255, 255, 255, 0.14);
    color: #fff;
    font-size: 1.2em;
}

footer .contact ul li {
    margin: 0 10px;
}

footer .contact ul li a:hover {
    background-color: #fad32f;
}

footer .contact hr {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    width: 25%;
    margin-top: 50px;
    margin-right: 37%;
}

footer .contact p a {
    color: #b4b4b4;
}

#envelope {
    color: #fad32f;
    margin-left: 5px;
}